<section id="politicas" class="BGNegro">
    <h1 class="CBlanco">
        Políticas de Privacidad
    </h1>

    <article>
        <p class="CBlanco">
            Bienvenidos a Hicomerce. Hemos diseñado nuestro sitio para ser una fuente principal de información, sobre nuestros productos. El brindarle una experiencia, eficiente y privada mientras usa nuestro sitio, es algo muy importante para nosotros. Esta política de privacidad describe, el tipo de información que recopilamos de usted y nuestras practicas para recolectar, mantener, usar y proteger esa información.
        </p>
        <p class="CBlanco">
            Esta política de privacidad se aplica, solo a la información que recopilamos, en nuestro sitio, entre usted y Hicomerce, también en nuestras paginas de redes sociales; Facebook, Instagram y otras redes.
        </p>
        <p class="CBlanco">
            No damos ningún tipo de información de identificación personal sobre usted.
        </p>
        <p class="CBlanco">
            Que información recopilamos cuando las personas, visitan nuestro sitio o nuestras redes sociales. Recopilamos su información de identificación personal, cuando se registra en nuestro sitio, incluye los siguientes datos: Nombre, fecha de nacimiento, domicilio, dirección de email, numero de teléfono fijo o móvil, identificación de usuario o contraseña.  Esta información de identificación personal nos permite contactarlo y diferenciarlo de cualquiera de nuestros usuarios. La información se utiliza para completar nuestro proceso de registro.
        </p>
        <p class="CBlanco">
            Podríamos recibir mas información personal adicional de usted, a través de la comunicación de nuestro sitio, si envía un email a nuestro sitio, para solicitar mas información sobre nuestros productos, usaremos su información para responder a su consulta y para mejorar significativamente nuestros servicios.
        </p>
        <p class="CBlanco">
            Con el fin de mejorar nuestro sitio, también podríamos recopilar datos estadísticos, como fecha y hora de un acceso a nuestro sitio, las redes sociales visitadas. No asociamos este tipo de información, estadística con su información personal.
        </p>
        <p class="CBlanco">
            Utilización de cookies del navegador web.
        </p>
        <p class="CBlanco">
            Cuando visite nuestro sitio, podríamos enviarle una o mas cookies a su dispositivo móvil o a su computadora. Las cookies solo pueden almacenar identificadores únicos, las preferencias de usuario e información que pueda mejorar su experiencia. Puede configurar su navegador para rechazar todas las cookies o para alertar cuando se envían cookies, pero sin embargo algunas características del sitio, no podrían funcionar correctamente, sin la utilización de las cookies.
        </p>
        <p class="CBlanco">
            La información que recolectamos, podríamos utilizar la información personal que usted nos ha proporcionado para:
        </p>
        <p class="CBlanco">
            Brindarle mas información, sobre productos nuevos, ofertas especiales, como también si llegamos a tener descuentos de temporada. A menos de que se indique lo contrario en esta política de privacidad.
        </p>
        <p class="CBlanco">
            No transferimos, no alquilamos, no divulgamos, no vendemos, su información de identificación personal con ningún tercero.
        </p>
        <p class="CBlanco">
            Solo proporcionaremos información, pertinente a otras empresas para entregar paquetes, completar pedidos, enviar correos, proporcionar servicios al cliente.
        </p>
        <p class="CBlanco">
            Solo se compartirá la información suficiente, para que realicen sus servicios y funciones, siempre requerimos que nuestros socios, se abstengan de difundir su información a otros sin su consentimiento.
        </p>
        <p class="CBlanco">
            Su información esta protegida. Siempre mantenemos practicas apropiadas para la recolección, procesamiento y almacenamiento de datos, así como nuestras medidas de seguridad, para proteger su información personal, almacenada en nuestro sitio, acceso no autorizado.
        </p>
        <p class="CBlanco">
            HE LEÍDO Y ACEPTO LOS TÉRMINOS DEL PRESENTE AVISO DE PRIVACIDAD.
        </p>
    </article>
    
    <a href="/servicios-de-inteligencia-artificial-por-hicomerce/" title="Inicio" class="btn">
        Volver a Inicio
    </a>
</section>