<nav aria-label="Pie de página"
     class="BGNegro BGNegroFooter CBlanco displayFlexDesk directionRowDesk displayFlexMobile directionColumMobile marginDesk0 marginMobile0">
  <div class="politicas">
    <h4>Legal</h4>
    <ul>
      <li>
        <a href="/politicas/terminos-condiciones" title="Términos y condiciones">
          Términos y condiciones
        </a>
      </li>
      <li>
        <a href="/politicas/aviso-de-privacidad" title="Aviso de privacidad">
          Aviso de privacidad
        </a>
      </li>
    </ul>
  </div>
  <div class="redesSociales">
    <h4>Social</h4>
    <ul>
      <li>
        <a target="_blank" href="https://www.facebook.com/HiComerce?..." title="Facebook">
          <img alt="Facebook" src="/assets/images/facebook.svg" loading="lazy">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.instagram.com/hicomerce?..." title="Instagram">
          <img alt="Instagram" src="/assets/images/instagram.svg" loading="lazy">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.linkedin.com/company/hicomerce/" title="LinkedIn">
          <img alt="LinkedIn" src="/assets/images/linkedin.svg" loading="lazy">
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/@hicomerce5921" title="YouTube">
          <img alt="YouTube" src="/assets/images/youtube.svg" loading="lazy">
        </a>
      </li>
    </ul>
  </div>
  <a target="_self" href="/servicios-de-inteligencia-artificial-por-hicomerce/" title="Home">
    <img src="/assets/images/logoFooter.svg" alt="Hicomerce" loading="lazy" />
  </a>
</nav>
<small class="footerCopy BGNegro fontSizeDesk12Mob12 CBlanco">@Hicomerce 2025 - Todos los derechos reservados</small>
