<section id="thankyou" class="BGNegro">
    <article>
        <h1 id="tituloGracias" class="fontSizeDesk48Mob32 textCenter CBlanco">
            ¡Gracias por tu interés en nuestros servicios de inteligencia artificial!
        </h1>
        <h2 id="textoGracias" class="CBlanco textCenter fontSizeDesk30Mob24">
            
        </h2>
    </article>
    <article class="home">
        <a href="/servicios-de-inteligencia-artificial-por-hicomerce" class="btn">
            Regresar a inicio
        </a>
        <img alt="Robot Hicomerce" loading="lazy" src="../assets/images/robotHicomerce.svg">
    </article>
</section>